
.grid{
   overflow-x:  scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.chat h3{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
    left: 50px; 
    margin-top: 80px; 
    margin-bottom: 20px; 
    margin-left: 100px;
    font-family: 'Arial', sans-serif;

  }
  
  .custom-card {
    width: 18rem;
    margin: 0 auto; 
  }
  
  .custom-card-img {
    height: 400px; 
    object-fit: cover;
    border-radius: 8px; 
  }
  .card-title-overlay {
    position: absolute;
    top: 10px; 
    color: white;
    left: 10px; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }

  .chat .grid{
    margin-right: 140px;
  }
  .custom-card .squre{
       color: black;
       height: 90px;
       width: 180px;
       background-color: white;
       position: absolute;
       top: 140px;
       left: 50px;
       display: flex;
       justify-content: center;
    align-items: center;
    background-color: white;
    display: flex; 
    align-items: center;  
    justify-content: center; 
  }
.squre h3 {
    margin: 0; 
    margin-right:100px ;
    font-size: 13px;

}

.custom-card .card-text {
  position: absolute;
  bottom: 10px; 
  color: white;
  left: 10px; 
  padding: 5px 10px; 
  border-radius: 5px; 
}


  

